*.exe
*.o
*.mod
*.f90

*.nc
*.dump
*.stackdump

*/swan_restart.dat*
*/PRINT*
*/Errfile*
*/swaninit

*/backup/*

dogbone/*
estuary_test/*
inlet_test/*
lake_jersey/*
Shiraho_reef_backup/*
Shiraho_reef_offline/*
Y1Y2/*
Yaeyama_offline/*

*/output/*
*/Build/*
*/Data/*
!.gitkeep



